
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: black;
}

.navbar ul {
    display: flex; 
    padding: 0;   
    margin: 0;     
}

.navbar li {
    margin-right: 30px;
    display: flex;
    list-style-type: none;
}

.navbar a:hover {
    background-color: transparent;
    color: lightblue;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.main{
    display: block;
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.main ul{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.main .popularmovie{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 1240px;  
    column-gap: 23px;
}
.popularmovie .movie{
    position: relative;
    top: 0;
    left: 0;
}
.popularmovie img{
    width: 229.6px;
    height: 344.4px;
    border-radius: 5px;
    z-index: 0;
}
.popularmovie h2{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.popularmovie .genrep {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.popularmovie .genre {
    display: none;
    position: absolute;
    text-align: center;
    width: 229.6px;
    z-index: 10; 
}

.popularmovie .genre .title{
    font-weight: 700;
    font-size: 20px;
}
.popularmovie .genre .genrespan{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content:center;
    margin-top: 5px;
}
.genre span{
    padding:2px;
    border-radius: 4px;
    background-color: green; 
}
.genre .like{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 300px;
    right: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}
.genre .block{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 300px;
    left: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}
.genre .generate-action{
    background-color: lightcyan;
}
.genre .generate-adventure{
    background-color: red;
}
.genre .generate-animation{
    background-color: yellow;
}
.genre .generate-comedy{
    background-color: pink;
}
.genre .generate-crime{
    background-color: green;
}
.genre .generate-documentary{
    background-color: greenyellow;
}
.genre .generate-drama{
    background-color: lightblue;
}
.genre .generate-family{
    background-color: lightcoral;
}

.movie:hover .genre {
    display: block;
}

.movie:hover img{
    opacity: 0.2;
}
