
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: black;
}

.navbar ul {
    display: flex; 
    padding: 0;   
    margin: 0;     
}

.navbar li {
    margin-right: 30px;
    display: flex;
    list-style-type: none;
}

.navbar a:hover {
    background-color: transparent;
    color: lightblue;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

h1 {
    margin-left: 100px;
    text-align: center;
}
   
.pagecss {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    margin-left: 100px;
}

.pagecss p {
    margin-left: 20px;
    margin-right: 20px;
}

.pagecss button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.pagecss button:hover {
    background-color: blue; /* 初始背景色 */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
}
.prevBtn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}


.prevBtn.disabled {
    background-color: green;
    color: lightgray;
    cursor: not-allowed;
    pointer-events: none;
}

.main input{
    background-color: #f0f0f0;
    width: 200px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 20px;
}

input:hover {
    background-color: #f0f0f0;
}

input:focus {
    border-color: blue;
    outline: none;
}
.main select {
    background-color: #f0f0f0;
    width: 200px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 20px;
}

select:focus {
    border-color: blue;
    outline: none;
}

.main{
    display: block;
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.main ul{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.main .popularmovie{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 1240px;  
    column-gap: 23px;
}
.popularmovie .movie{
    position: relative;
    top: 0;
    left: 0;
}
.popularmovie img{
    width: 229.6px;
    height: 344.4px;
    border-radius: 5px;
    z-index: 0;
}
.popularmovie h2{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.popularmovie .genrep {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.popularmovie .genre {
    display: none;
    position: absolute;
    text-align: center;
    width: 229.6px;
    z-index: 10; 
}

.popularmovie .genre .title{
    font-weight: 700;
    font-size: 20px;
}
.popularmovie .genre .genrespan{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content:center;
    margin-top: 5px;
}
.genre span{
    padding:2px;
    border-radius: 4px;
    background-color: green; 
}
.genre .like{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 300px;
    right: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}
.genre .block{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 300px;
    left: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}
.genre .generate-action{
    background-color: lightcyan;
}
.genre .generate-adventure{
    background-color: rgb(170, 88, 88);
}
.genre .generate-animation{
    background-color: yellow;
}
.genre .generate-comedy{
    background-color: pink;
}
.genre .generate-crime{
    background-color: green;
}
.genre .generate-documentary{
    background-color: greenyellow;
}
.genre .generate-drama{
    background-color: lightblue;
}
.genre .generate-family{
    background-color: lightcoral;
}

.genre .generate-fantasy{
    background-color: rgb(248, 162, 34);
}

.genre .generate-history{
    background-color: rgb(32, 186, 168);
}

.genre .generate-horror{
    background-color: #ff0000;
}

.genre .generate-music{
    background-color: rgb(20, 102, 196);
}

.genre .generate-mystery{
    background-color: rgb(124, 124, 124);
}

.genre .generate-romance{
    background-color: rgb(241, 100, 222);
}

.genre .generate-scifi{
    background-color: rgb(181, 64, 213);
}

.genre .generate-tv-movie{
    background-color: rgb(94, 23, 180);
}

.genre .generate-thriller{
    background-color: rgb(89, 82, 82);
}

.genre .generate-war{
    background-color: rgb(51, 0, 255);
}

.genre .generate-western{
    background-color: rgb(174, 163, 5);
}

.movie:hover .genre {
    display: block;
}

.movie:hover img{
    opacity: 0.2;
}
